:root {
    --primary-color: #137fec;
    --secondary-color: #9cb3e0;
    --primary-background-color: #dbeafe;
    --background-color: #ffffff;
    --background-color-alt: #f5f7fa;
    --background-color-dark: #d5dfeb;
    --text-color: #1d1d1d;
    --secondary-text-color: #4b5563;
    --hr: #e5e7eb;
    --green-color: #22c55e;
}

body {
    font-family: system-ui, sans-serif, 'Sansita';
    /* use the variables defined above */
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

.svg-header {
    height: 2rem;
    width: 2rem;
}

body>header {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 2px solid var(--hr);
    width: 100%;

    div>h1 {
        font-size: 1rem;
        font-weight: 700;
    }

    nav {
        display: flex;
        align-items: center;
        gap: .8em;

        a,
        span {
            padding: .5em;
            text-decoration: none;
            color: var(--text-color);
            font-weight: 500;
            font-size: .9rem;
            cursor: pointer;
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
        }

        a:hover {
            color: var(--primary-color);
            font-weight: 700;
            transform: translatey(-5px);
            -webkit-transform: translatey(-5px);
            -moz-transform: translatey(-5px);
        }

        span {
            color: var(--secondary-color);
        }
    }
}

body>footer {
    background-color: var(--background-color);
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top: 2px solid var(--hr);
    width: 100%;

}

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* margin-top: -1rem; */
    margin-bottom: 2rem;

    a {
        padding: 1em;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 500;

        &:first-child {
            background-color: var(--primary-color);
            border: 2px solid var(--primary-color);
        }


        &:nth-child(2) {
            background-color: var(--background-color-dark);
            border: 2px solid var(--background-color-dark);
            color: var(--text-color);

            svg {
                fill: var(--text-color);
            }
        }

        &:hover {
            background-color: var(--background-color-alt);
            color: var(--text-color);
            border: 2px solid var(--primary-color);

            svg {
                fill: var(--primary-color);
            }
        }
    }
}

.svg-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;

    svg {
        color: var(--primary-color);
    }
}

.white {
    color: white;

    svg {
        fill: white;
    }
}


.hero-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    img {
        background-color: var(--background-color);
        justify-self: center;
        border-radius: 15px;
        max-width: 70%;
        height: auto;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.08);
    }
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    width: 100%;
    padding: 2em;
    font-weight: 700;

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-weight: 400;
        text-align: center;
        font-size: 1rem;
        width: 50%;
        color: var(--secondary-text-color);
    }
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 2em;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color-alt);
        border-radius: 10px;
        padding: 1.5em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;

        svg {
            background-color: var(--primary-background-color);
            height: 3.5rem;
            width: 3.5rem;
            padding: .8em;
            border-radius: 40%;
            margin-bottom: 1em;
        }

        h4 {
            font-size: 1rem;
            font-weight: 700;

            margin-bottom: .5em;
        }

        p {
            margin: 0;
            font-size: .8rem;
            font-weight: 400;
            color: var(--secondary-text-color);
        }
    }
}

.intro-links-section {
    margin: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color: var(--background-color-alt);
    padding: 1rem;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        text-align: center;
        border-top: 1px solid var(--hr);

        .nav-buttons {
            a {
                background-color: var(--green-color);
                border: 2px solid var(--green-color);

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            a:hover {
                background-color: (var(--background-color-alt));
                color: var(--text-color);

                svg {
                    fill: var(--primary-color);
                }
            }
        }
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: .5em;

        span {
            color: var(--primary-color);
        }
    }

    p {
        font-size: 1rem;
        margin-bottom: 1em;
        color: var(--secondary-text-color);

        span {
            color: var(--primary-color);
            font-weight: 500;
        }
    }
}


.background-alt {
    background-color: var(--background-color-alt);
    padding: 2rem;
    margin-bottom: 2rem;
}

.search-form {
    margin: 1em;

    input {
        border: 2px solid var(--hr);
        border-radius: 10px;
        background-color: var(--background-color-alt);
        padding: 1em;
        width: 70%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }

    input:hover {
        border: 2px solid var(--background-color-dark);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    }
}

.contenedor-recursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    gap: 2em;
    padding: 2em;

    a {
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color-alt);
        padding: 1em;
        text-align: center;
        width: 250px;
        height: 100%;
        min-height: 5rem;
        border: 1px solid var(--background-color-alt);
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        gap: 1rem;

        .svg-text {
            display: flex;
            flex-direction: row;

            svg {
                background-color: var(--primary-background-color);
                height: 3rem;
                width: 3rem;
                padding: .8em;
                border-radius: 40%;
            }

            h4 {
                font-size: 1rem;
                font-weight: 700;
            }
        }

        p {
            margin: 0;
            font-size: .8rem;
            font-weight: 400;
            color: var(--secondary-text-color);
        }
    }

    a:hover {
        border: 1px solid var(--background-color-dark);
        background-color: var(--background-color);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}

.center {
    align-items: center;
    text-align: center;
    align-content: center;
}